{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'about',
    'row',
    'align-items-center'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="col-lg-6 mb-5">
      <div class="about__photo">
        {{ content.field_photo }}
      </div>
    </div>
    <div class="col-lg-5 ml-auto">
      <div class="about__body">
        <div class="about__title section-title">
          <div class="about__subheading sub-title mb-2 d-block">{{ content.field_subheading }}</div>
          <h2 class="about__heading title text-primary mb-3">{{ content.field_heading }}</h2>
        </div>
        <div class="about__content">
          {{ content.field_body }}
        </div>
        <div class="about__video">
          <a data-fancybox="" data-ratio="2" href="{{ paragraph_about.link_video.url }}" class="d-flex align-items-center"><span class="icon-play_circle_outline h4 m-0 mr-2"></span> <span>{{ paragraph_about.link_video.title }}</span></a>
        </div>
      </div>

      {% block content %}
        {{ content|without('field_body', 'field_heading', 'field_link_video', 'field_photo', 'field_subheading') }}
      {% endblock %}

    </div>
  </div>
{% endblock paragraph %}
