<footer role="contentinfo" class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        {{ page.footer_column_1 }}
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0 ml-auto">
        {{ page.footer_column_2 }}
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        {{ page.footer_column_3 }}
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        {{ page.footer_credit }}
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
          with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <p>This Drupal theme is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://www.drupal.org/spinetta" target="_blank">Spinetta</a></p>
      </div>
    </div>
  </div>
</footer>
