<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<header role="banner" class="site-navbar-wrap">
  <div class="site-navbar site-navbar-target js-sticky-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 col-md-4">
          {{ page.branding }}
        </div>
        <div class="col-6 col-md-8">
          {{ page.navigation }}
        </div>
      </div>
    </div>
  </div>
</header>
