/*
      Flaticon icon font: Flaticon
      Creation date: 01/03/2019 00:45
      */

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
  url("./Flaticon.woff2") format("woff2"),
  url("./Flaticon.woff") format("woff"),
  url("./Flaticon.ttf") format("truetype"),
  url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-window:before {
  content: "\f100";
}
.flaticon-measuring:before {
  content: "\f101";
}
.flaticon-step-ladder:before {
  content: "\f102";
}
.flaticon-interior-design:before {
  content: "\f103";
}
.flaticon-sit-down:before {
  content: "\f104";
}
.flaticon-turned-off:before {
  content: "\f105";
}
