@import "../variables";
@import "utility";

/* Site header */
.site-navbar {
  .site-name {
    a {
      font-size: 2.5rem;
      color: #000;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

/* Site footer */
.site-footer {
  ul.menu {
    padding: 0;
    margin: 0 0 1rem 0;
    li {
      padding: 0;
      margin-bottom: 10px;
      a {
        display: inline-block;
        &:hover, &:focus, &.is-active {
          color: #fff;
        }
      }
    }
  }
  .menu--social {
    ul.menu {
      text-align: center;
      margin: 0;
      li {
        display: inline-block;
        a {
          padding: 0 1rem;
        }
      }
    }
  }
}

/* Layout */
.offcanvas-menu {
  .site-wrap {
    overflow: unset;
  }
}

/* Menu */
.site-mobile-menu {
  .site-mobile-menu-body {
    overflow: hidden;
  }
}

/* Service paragraph */
.service {
  &__link {
    margin-top: 1rem;
  }
}

/* Testimonial paragraph */
.testimonial {
  font-size: 1.15rem;
  color: #000;
  font-style: italic;
  &__body {
    padding-left: 20px;
    border-left: 10px #eee solid;
    margin-bottom: 20px;
  }
  &__meta {
    padding-left: 20px;
  }
}

/* Project paragraph */
.project {
  &__photo {
    order: 1;
  }
  &__body {
    order: 2;
  }
}

@media (min-width: 992px) {

  /* Project paragraph */
  .paragraph--type--project {
    .field__items {
      .field__item {
        &:nth-child(even) {
          .project {
            &__photo {
              order: 2;
            }
            &__body {
              order: 1;
            }
          }
        }
      }
    }
  }
}
