/* Your custom variables here.
*/
/* Utility */
img {
  max-width: 100%;
  height: auto;
}

/* Messages */
.messages {
  margin-bottom: 1rem;
}
.messages + .messages {
  margin-top: 1rem;
}

/* Site header */
.site-navbar .site-name a {
  font-size: 2.5rem;
  color: #000;
  font-size: 2rem;
  font-weight: bold;
}

/* Site footer */
.site-footer ul.menu {
  padding: 0;
  margin: 0 0 1rem 0;
}
.site-footer ul.menu li {
  padding: 0;
  margin-bottom: 10px;
}
.site-footer ul.menu li a {
  display: inline-block;
}
.site-footer ul.menu li a:hover,
.site-footer ul.menu li a:focus,
.site-footer ul.menu li a.is-active {
  color: #fff;
}

.site-footer .menu--social ul.menu {
  text-align: center;
  margin: 0;
}
.site-footer .menu--social ul.menu li {
  display: inline-block;
}
.site-footer .menu--social ul.menu li a {
  padding: 0 1rem;
}

/* Layout */
.offcanvas-menu .site-wrap {
  overflow: unset;
}

/* Menu */
.site-mobile-menu .site-mobile-menu-body {
  overflow: hidden;
}

/* Service paragraph */
.service__link {
  margin-top: 1rem;
}

/* Testimonial paragraph */
.testimonial {
  font-size: 1.15rem;
  color: #000;
  font-style: italic;
}
.testimonial__body {
  padding-left: 20px;
  border-left: 10px #eee solid;
  margin-bottom: 20px;
}
.testimonial__meta {
  padding-left: 20px;
}

/* Project paragraph */
.project__photo {
  -ms-flex-order: 1;
  order: 1;
}

.project__body {
  -ms-flex-order: 2;
  order: 2;
}

@media (min-width: 992px) {
  /* Project paragraph */
  .paragraph--type--project .field__items .field__item:nth-child(even) .project__photo {
    -ms-flex-order: 2;
    order: 2;
}
  .paragraph--type--project .field__items .field__item:nth-child(even) .project__body {
    -ms-flex-order: 1;
    order: 1;
} }

/* Your custom scss here.
*/

/*# sourceMappingURL=maps/style.css.map */
